<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% load static %}
    <link href="{% static 'reviewer/styles.css' %}" rel="stylesheet">
    <title>BoomTree</title>
  </head>
  <body>
    <div id="title-box"><strong>BoomTree</strong></div>
    <div class="container">
        <form class="info-form" method="POST">
          <fieldset>
            <legend>Registration Form</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
        {% if message %}
          <div class ="results-box">
            {{ message }}
          </div>
        {% endif %}
        <a href="{% url 'reviewer:index' %}"><button class="nav-button"><h3>Return to Home Page</h3></button></a>
        <a href="{% url 'reviewer:retrieve' %}"><button class="nav-button"><h3>Search Ratings by User</h3></button></a>
        <a href="{% url 'reviewer:tracklist' %}"><button class="nav-button"><h3>Get Tracklist for Albums</h3></button></a>
    </div>
  </body>
</html>